$white:    #fff    !default
$gray-100: #f8f9fa !default
$gray-200: #e9ecef !default
$gray-300: #dee2e6 !default
$gray-400: #ced4da !default
$gray-500: #adb5bd !default
$gray-600: #6c757d !default
$gray-700: #495057 !default
$gray-800: #343a40 !default
$gray-900: #212529 !default
$black:    #000    !default

$grays: ("100": $gray-100, "200": $gray-200, "300": $gray-300, "400": $gray-400, "500": $gray-500, "600": $gray-600, "700": $gray-700, "800": $gray-800, "900": $gray-900) !default

$blue:    #0d6efd !default
$indigo:  #6610f2 !default
$purple:  #6f42c1 !default
$pink:    #d63384 !default
$red:     #dc3545 !default
$orange:  #fd7e14 !default
$yellow:  #ffc107 !default
$green:   #198754 !default
$teal:    #20c997 !default
$cyan:    #0dcaf0 !default

$colors: ( "blue": $blue, "indigo":  $indigo, "purple": $purple, "pink": $pink, "red": $red, "orange": $orange, "yellow": $yellow, "green":  $green, "teal": $teal, "cyan": $cyan, "white": $white, "gray": $gray-600, "gray-dark": $gray-800) !default

$primary:                     $blue !default
$secondary:                   $gray-600 !default
$success:                     $green !default
$info:                        $cyan !default
$warning:                     $yellow !default
$danger:                      $red !default
$light:                       $gray-100 !default
$dark:                        $gray-900 !default

$body-color:                  white !default
$body-bg:                     gray-900 !default
$body-text-align:             left

$paragraph-margin-bottom:     10px

$link-color:                  $gray-200 !default
$link-decoration:             underline
$link-hover-color:            $white !default
$link-hover-decoration:       underline

$theme-colors: ("primary": $primary, "secondary": $secondary, "success": $success, "info": $info, "warning": $warning, "danger": $danger, "light": $light, "dark": $dark) !default

$gradient:                    linear-gradient(180deg, rgba($white, .15), rgba($white, 0)) !default

$spacer: 1rem !default
$spacers: (0: 0, 1: $spacer / 4, 2: $spacer / 2, 3: $spacer, 4: $spacer * 1.5, 5: $spacer * 3) !default

$border-width:                1px !default
$border-widths:               (0: 0, 1: 1px, 2: 2px, 3: 3px, 4: 4px, 5: 5px) !default
$border-color:                $gray-300 !default

$border-radius:               .25rem !default
$border-radius-sm:            .2rem !default
$border-radius-lg:            .3rem !default
$border-radius-pill:          50rem !default

$box-shadow:                  0 .5rem 1rem rgba($black, .15) !default
$box-shadow-sm:               0 .125rem .25rem rgba($black, .075) !default
$box-shadow-lg:               0 1rem 3rem rgba($black, .175) !default
$box-shadow-inset:            inset 0 1px 2px rgba($black, .075) !default

$component-active-color:      $white !default
$component-active-bg:         $primary !default

$caret-width:                 .3em !default
$caret-vertical-align:        $caret-width * .85 !default
$caret-spacing:               $caret-width * .85 !default

$transition-base:             all .2s ease-in-out !default
$transition-fade:             opacity .15s linear !default
$transition-collapse:         height .35s ease !default

$tooltip-color: #333
$tooltip-placements: 'top', 'bottom', 'left', 'right'
$tooltip-origins: bottom, top, right, left
$tooltip-backdrop-origins: 0% 25%, 0% -50%, 50% 0%, -50% 0%
$tooltip-backdrop-border-radii: 40% 40% 0 0, 0 0 30% 30%, 50% 0 0 50%, 0 50% 50% 0
$tooltip-arrow-size: 16px

$font-family-sans-serif:      system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default
$font-family-base:            'Open Sans Condensed', sans !default
$font-family-code:            $font-family-monospace
$font-size-root:              null !default
$font-size-base:              1rem !default
$font-size-sm:                $font-size-base * .875 !default
$font-size-lg:                $font-size-base * 1.25 !default

$code-font-size:              1rem !default
$pre-color:                   $gray-800 !default
$code-color:                  $gray-800 !default
$kbd-padding-y:               10px !default
$kbd-padding-x:               10px !default
$kbd-font-size:               1rem !default
$kbd-color:                   $gray-800 !default
$kbd-bg:                      $white !default

$table-cell-padding-y:        10px !default
$table-caption-color:         $blue !default
$table-th-font-weight:        1rem !default

$font-weight-lighter:         lighter !default
$font-weight-light:           300 !default
$font-weight-normal:          400 !default
$font-weight-bold:            700 !default
$font-weight-bolder:          bolder !default

$font-weight-base:            $font-weight-normal !default

$line-height-base:            1.5 !default
$line-height-sm:              1.25 !default
$line-height-lg:              2 !default

$h1-font-size:                $font-size-base * 2.5 !default
$h2-font-size:                $font-size-base * 2 !default
$h3-font-size:                $font-size-base * 1.75 !default
$h4-font-size:                $font-size-base * 1.5 !default
$h5-font-size:                $font-size-base * 1.25 !default
$h6-font-size:                $font-size-base !default

$font-sizes: (1: $h1-font-size, 2: $h2-font-size, 3: $h3-font-size, 4: $h4-font-size, 5: $h5-font-size, 6: $h6-font-size) !default

$headings-margin-bottom:      $spacer / 2 !default
$headings-font-family:        null !default
$headings-font-style:         null !default
$headings-font-weight:        500 !default
$headings-line-height:        1.2 !default
$headings-color:              null !default

$display-font-sizes: (1: 5rem, 2: 4.5rem, 3: 4rem, 4: 3.5rem, 5: 3rem, 6: 2.5rem) !default

$display-font-weight:         300 !default
$display-line-height:         $headings-line-height !default
$lead-font-size:              $font-size-base * 1.25 !default
$lead-font-weight:            300 !default
$small-font-size:             .875em !default
$sub-sup-font-size:           .75em !default
$text-muted:                  $gray-600 !default
$initialism-font-size:        $small-font-size !default
$blockquote-margin-y:         $spacer !default
$blockquote-font-size:        $font-size-base * 1.25 !default
$blockquote-footer-color:     $gray-600 !default
$blockquote-footer-font-size: $small-font-size !default
$hr-margin-y:                 $spacer !default
$hr-color:                    inherit !default
$hr-height:                   $border-width !default
$hr-opacity:                  .25 !default
$legend-margin-bottom:        .5rem !default
$legend-font-size:            1.5rem !default
$legend-font-weight:          null !default
$mark-padding:                .2em !default
$dt-font-weight:              $font-weight-bold !default
$nested-kbd-font-weight:      $font-weight-bold !default
$list-inline-padding:         .5rem !default
$mark-bg:                     #fcf8e3 !default
