html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width initial-scale=1')
    link(rel='preconnect' href='https://fonts.gstatic.com')
    link(href='https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap' rel='stylesheet')
    link(rel="stylesheet" href="https://unpkg.com/@highlightjs/cdn-assets@10.5.0/styles/default.min.css")
    link(href='/static/epoch.css' rel='stylesheet')
    title='Generate-a-God&trade;'
  body
    pre
      code= message

    script(src="https://unpkg.com/@highlightjs/cdn-assets@10.5.0/highlight.min.js")
    script='hljs.highlightAll();'
