html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width initial-scale=1')
    link(rel='preconnect' href='https://fonts.gstatic.com')
    link(href='/static/epoch.css' rel='stylesheet')
    title= title
  body
    a(class="tooltip" href="#")= 'Crown of Cowardly Kings'

    script(src='https://unpkg.com/@popperjs/core@2')
    script(src='https://unpkg.com/tippy.js@6')
    script(src='/public/tooltip-test.js')
