* {
  background: #222;
  font-size: 16px;
  color: #999;
  border: 0;
  /*  margin: 0; */
  padding: 10px;
}

.container {
/*  display: flex; */
/*  justify-content: center; */
}

.underline {
  text-decoration: underline;
}



.responses {
  text-align: center;
  margin: 0;
  padding: 0;
}

.btn {
  border-radius: 10px;
}

.btn a {
  text-decoration: none;
}

.btn-light {
  background: #999;
  color: #222;
}

.responses a {
  animation: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 5s;
  -moz-animation: fadeIn ease 5s;
  -o-animation: fadeIn ease 5s;
  -ms-animation: fadeIn ease 5s;
  width: 40%;
}

.thin {
  font-weight: 400;
}

.title {
  font-size: 100%;
}

h1 {
  margin: 0 0;
  font-size: 2em;
}

p {
  font-size: 0.8em;
}

footer,
footer p,
footer a {
  font-size: 0.8em;
}

h1,
h2 {
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
}

h3,
h4,
h5,
h6,
p,
quote {
  animation: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 5s;
  -moz-animation: fadeIn ease 5s;
  -o-animation: fadeIn ease 5s;
  -ms-animation: fadeIn ease 5s;
}

a {
  text-decoration-color: #777;
}

.race-select img,
.class-select img {
  width: 200px;
  height: 200px;
  background: #111;
  padding: 0;
}

.class-select img {
  background: transparent;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

